.player-selector {
    margin-bottom: 10px;
}

.player-selector-top,
.player-selector-bottom {
    display: flex;
}

.player-selector-bottom {
    margin-top: 8px;
}

.player-selector-input {
    background: var(--white);
    color: var(--dark-blue);
    font-family: doppio_oneregular;
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    outline: 0;
    border: 0;
}

.player-selector-style-container {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 4px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    border: 1px solid transparent;
    padding: 0;
}

.player-selector-style-container:hover {
    border-color: var(--orange);
}

.player-selector-toggle {
    border: 0;
    padding: 8px 12px;
    background: var(--darkest-blue);
    color: var(--white);
    border-radius: 4px;
    outline: 0;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
}

.player-selector-toggle:hover:not(.is-selected) {
    background: var(--dark-blue);
}

.player-selector-toggle.is-selected {
    background: var(--red-3);
    cursor: default;
}

.player-selector-ai-level {
    position: relative;
}
.player-selector-ai-level-text {
    padding: 4px;
    position: absolute;
    background: var(--dark-blue);
    border-radius: 2px;
    color: var(--white);
    font-size: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 674px) {
    .player-selector {
        width: 100%;
        padding: 0 20px;
    }
    .player-selector-input {
        width: 170px;
    }
}
