.logo-big {
    --logo-size-x: 1;
}

.logo-small {
    --logo-size-x: 0.5;
}

.logo {
    font-family: 'destroyregular';
    --logo-screen-size-x: 1;
}
@media screen and (max-width: 674px) {
    .logo {
        --logo-screen-size-x: 0.75;
    }
}

.logo-up {
    color: var(--white);
    text-shadow: 0 0 5px var(--darkest-blue);
    font-size: calc(93px * var(--logo-size-x) * var(--logo-screen-size-x));
    line-height: calc(82px * var(--logo-size-x) * var(--logo-screen-size-x));
}
.logo-down {
    color: var(--red);
    text-shadow: 0 0 5px var(--darkest-blue);
    font-size: calc(95px * var(--logo-size-x) * var(--logo-screen-size-x));
    line-height: calc(58px * var(--logo-size-x) * var(--logo-screen-size-x));
}
