.player-selection-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 674px) {
    .player-selection-content {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.player-selection-add-player-button {
    width: 100%;
}
.player-selection-checkbox {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    padding: 0 20px;
    color: var(--white);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.player-selection-checkbox input {
    margin-right: 10px;
}

.player-selection-checkbox-last {
    margin-bottom: 10px;
}
