.main-menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}
