.game-board-container {
    background: var(--darkest-blue);
}

.game-board {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.pause-button-container {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--darkest-blue);
}
.game-board-content {
    transition: transform 1s ease-in-out;
}
.is-dragging.game-board-content {
    transition: none;
}

.game-board-camera {
    position: relative;
}
.game-board-circuit-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 0 0;
}
