.movement-picker-container {
    --movement-picker-delay: 0.5s;
    --movement-picker-easing: cubic-bezier(0.83, 0.4, 0.53, 0.855);
    position: relative;
    transition: transform var(--movement-picker-delay)
        var(--movement-picker-easing);
    z-index: 10;
}

.movement-picker {
    position: absolute;
    height: var(--player-size);
    width: var(--player-size);
    margin-left: calc(var(--player-size) / -2);
    margin-top: calc(var(--player-size) / -2);

    border: 1px solid var(--player-color);
    border-radius: var(--player-border-radius);
    cursor: pointer;

    z-index: 7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s var(--movement-picker-delay)
        var(--movement-picker-easing);
}

.movement-picker:hover {
    background-color: var(--player-color);
    z-index: 11;
}

.movement-picker-temp-line,
.movement-picker-ghost-line {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.movement-picker-ghost-line {
    opacity: 0.5;
}

.movement-picker-select-button {
    position: absolute;
    transform: translate(-50%, 20px);
    z-index: 12;
    opacity: 0.75;
}

.movement-picker-crash {
    --crash-size: 20px;
    position: absolute;
    height: var(--crash-size);
    width: var(--crash-size);
    margin-left: calc(var(--crash-size) / -2);
    margin-top: calc(var(--crash-size) / -2);
    pointer-events: none;
    background-image: url('./fire.png');
    background-size: contain;

    z-index: 20;
}
