.random-selection-animation {
    position: absolute;
    height: var(--player-size);
    width: var(--player-size);
    margin-left: calc(var(--player-size) / -2);
    margin-top: calc(var(--player-size) / -2);

    border: 1px solid var(--player-color);
    border-radius: var(--player-border-radius);

    z-index: 7;
}

.random-selection-animation.is-highlighted {
    background-color: var(--player-color);
    z-index: 11;
}

.random-selection-animation-temp-line {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.random-selection-animation-warning {
    position: absolute;
    transform: translateX(-50%);
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
    width: 140px;
    color: white;
    border-radius: 4px;
    z-index: 15;
    text-align: center;
    font-size: 12px;
}
