.player {
    --player-size: 10px;

    position: absolute;
    height: var(--player-size);
    width: var(--player-size);
    margin-left: calc(var(--player-size) / -2);
    margin-top: calc(var(--player-size) / -2);

    background: var(--player-color);
    border-radius: var(--player-border-radius);

    z-index: 5;
}
