.player {
    --player-size: 20px;

    position: absolute;
    height: var(--player-size);
    width: var(--player-size);
    margin-left: calc(var(--player-size) / -2);
    margin-top: calc(var(--player-size) / -2);

    /* background: var(--player-color);
    border-radius: var(--player-border-radius); */

    z-index: 8;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    filter: grayscale(80%);
}

.player.is-active {
    opacity: 1;
    filter: none;
}
