.full-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 2px 10px;
    color: var(--white);
    background: transparent;
    border: 0;
    margin: 0;
    cursor: pointer;
    font-family: doppio_oneregular;
    font-size: 26px;
}

.button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.button:not([disabled]):hover {
    color: var(--orange);
}

.button-bg {
    background: var(--red-2);
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 16px;
}
.button-bg.button:not([disabled]):hover {
    background: var(--red-3);
    color: var(--white);
}

.button-full-width {
    display: block;
    width: 100%;
}

.button-small {
    font-size: 18px;
}

.menu-screen {
    background: linear-gradient(
        to bottom,
        var(--dark-blue),
        var(--darkest-blue)
    );
}

.menu-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding: 48px;
    color: var(--white);
}
.menu-header-title {
    flex: 1;
    font-size: 48px;
    margin: 0;
    margin-left: 42px;
    text-align: left;
    line-height: 40px;
}
.menu-content {
    flex: 1;
}
.menu-footer {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
}
.menu-footer-filler {
    flex: 1;
}

.mt-m {
    margin-top: 16px;
}
