html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'doppio_oneregular', -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    height: 100%;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'destroyregular';
    src: url('./fonts/destroy_-webfont.woff2') format('woff2'),
        url('./fonts/destroy_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'doppio_oneregular';
    src: url('./fonts/doppioone-regular-webfont.woff2') format('woff2'),
        url('./fonts/doppioone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
html {
    --dark-blue: #011626;
    --darker-blue: #010d17;
    --darkest-blue: #00060a;
    --white: #fdfffc;
    --blue: #2ec4b6;
    --red: #e71d36;
    --orange: #ff9f1c;
}
