.high-scores .menu-content {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.high-scores-circuit-tabs-container {
    width: 100%;
    overflow: auto;
}
.high-scores-circuit-tabs {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.high-scores-circuit-tab {
    color: var(--white);
    margin: 0 12px;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    font-size: 22px;
    cursor: pointer;
    white-space: nowrap;
}

@media screen and (max-width: 674px) {
    .high-scores-circuit-tab {
        margin: 0 6px;
        border-bottom: 2px solid transparent;
        font-size: 12px;
    }
}

.high-scores-circuit-tab:hover {
    border-bottom-color: var(--red-3);
}

.high-scores-circuit-tab.is-active {
    border-bottom-color: var(--red);
    cursor: default;
}

.high-scores-circuit {
    margin-top: 20px;
}

.score-board-empty {
    color: var(--grey-1);
    text-align: left;
    margin-left: 20px;
}
