.circuit-selector {
    --circuit-selector-height: 200px;
    --circuit-selector-width: 200px;
    height: var(--circuit-selector-height);
    width: var(--circuit-selector-width);
    position: relative;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--darkest-blue);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.circuit-selector:hover {
    box-shadow: 0 0 0 5px var(--orange);
}

.circuit-selector-img {
    width: 100%;
    object-fit: contain;
    flex: 1;
    max-height: calc(200px - 32px);
}

.circuit-selector-footer {
    padding: 10px;
    background-color: var(--darkest-blue);
    color: var(--white);
    display: flex;
    align-items: center;
}
.circuit-selector-name {
    font-size: 12px;
    flex: 1;
}
.circuit-selector-players {
    font-size: 10px;
    flex-shrink: 0;
    color: var(--grey-1);
}
